<?xml version='1.0' encoding='utf-8'?>
<widget id="example.tabris.gyft" version="0.1.0">
  <name>Tabris Gyft</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="lisamarieherzberg@gmail.com">
    Lisa Herzberg
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
